

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');
body{
    scroll-behavior: auto;
    font-family: 'Poppins',sans-serif;
    position: relative;
    
    height: 100vh;
    background-image: url(imgs/muzik.webp);
    background-size: 100%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
  }

nav{
    

    width:100%;
    height: 75px;
    line-height: 75px;
    padding-bottom: -100px;
    position: fixed;
    margin-top: -600px;
    margin-left: 50px;
    align-items: center;
    

}
.navbar{
    display: flex;
    justify-content: flex-start;
}
.logo_container img{
    height: 90px;
    width: 190px;
    border-radius: 49%;
    
    

    
    

    
}




 

.player-container{
    position: relative;
    height: 560px;
    width: 400px;
    background-color: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0,0,0,0.3);
    
}
.image-container{
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}
/* songs */
.image-container img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 20px;
    box-shadow: 0 15px 30px 5px rgba(0,0,0,0.3);

}
h2{
    font-size: 25px;
    text-align: center;
    margin: 0;

}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: 400 ;
    margin: 5px 0 0;
}

/* progress */
.progress-container{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;

}

.progress{
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;

}
.duration-wrapper{
    position: relative;
    top:-25px;
    display: flex;
    justify-content: space-between;

}

/* Controls */

.player-controls{
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;


}
.fa-solid{
    font-size: 30px;
    color: rgb(129,129,129);
    margin-right: 30px;
    cursor: pointer;
}
.fa-solid:hover{
    filter: brightness(10%);

}

.fa-play{
    font-size: 40px;
    position: relative;
    top:3px
}
.footer{

    margin-top: 900px;
    text-align: center;
    justify-content: center;
    
 
  }
.footer{
    background-color: #d19191;
    color: #fff;
    padding:20px;
    position: absolute;
    
    width:98%;
    margin: top 1000px;
    
    border-radius: 20px;
}
  .footer a{
    text-decoration: none;
    color:#fff;

    font-size:22px;
    margin: 0 10px;
  }
  .footer a:hover{
    opacity: 0.1;
    transition: 0.1s ease-in-out;

  }
  .footer hr{
    background: #999;
    height: 1px;
    width: 90%;
    border:0;
    margin: 1px;
    margin-left: 30px;
 
  }
  .footer p{
    padding-bottom: 1px;
  }


/* MEdia Q */
@media screen and (max-width: 376px)
{
    
    .player-conatiner{
        width: 95vw;
    }
    .image-container{
        left: 29px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    .player-controls{
        top:-10px;
        left:100px;
    }
}